<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated context -->
      <package
            uri="http://www.palladiosimulator.org/pcm/confidentiality/0.1/"
            class="org.palladiosimulator.pcm.confidentiality.context.ContextPackage"
            genModel="model/context.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated context -->
      <package
            uri="http://www.palladiosimulator.org/pcm/confidentiality/context/model/0.1/"
            class="org.palladiosimulator.pcm.confidentiality.context.model.ModelPackage"
            genModel="model/context.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated context -->
      <package
            uri="http://www.palladiosimulator.org/pcm/confidentiality/context/set/0.1/"
            class="org.palladiosimulator.pcm.confidentiality.context.set.SetPackage"
            genModel="model/context.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated context -->
      <package
            uri="http://www.palladiosimulator.org/pcm/confidentiality/context/specification/0.1/"
            class="org.palladiosimulator.pcm.confidentiality.context.specification.SpecificationPackage"
            genModel="model/context.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated context -->
      <package
            uri="http://www.palladiosimulator.org/pcm/confidentiality/context/specification/assembly/0.1/"
            class="org.palladiosimulator.pcm.confidentiality.context.specification.assembly.AssemblyPackage"
            genModel="model/context.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated context -->
      <package
            uri="http://www.palladiosimulator.org/pcm/confidentiality/context/policy/0.1/"
            class="org.palladiosimulator.pcm.confidentiality.context.policy.PolicyPackage"
            genModel="model/context.genmodel"/>
   </extension>

</plugin>
