<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="contextconfidentiality.externaljavaactions.AddPolicyToSeff"
            id="AddPolicyToSeff">
      </javaActions>
      <javaActions
            actionClass="contextconfidentiality.externaljavaactions.AddExistingPolicyToSeff"
            id="AddExistingPolicyToSeff">
      </javaActions>
      <javaActions
            actionClass="contextconfidentiality.externaljavaactions.OpenContextConfidentialityRepresentation"
            id="OpenContextConfidentialityRepresentation">
      </javaActions>
      <javaActions
            actionClass="contextconfidentiality.externaljavaactions.SetDirection"
            id="SetDirection">
      </javaActions>
   </extension>

</plugin>
