<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.confidentiality.context.presentation.ContextModelWizardID"
            name="%_UI_ContextModelWizard_label"
            class="org.palladiosimulator.pcm.confidentiality.context.presentation.ContextModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContextModelFile.gif">
         <description>%_UI_ContextModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.pcm.confidentiality.context.presentation.ContextEditorID"
            name="%_UI_ContextEditor_label"
            icon="icons/full/obj16/ContextModelFile.gif"
            extensions="context"
            class="org.palladiosimulator.pcm.confidentiality.context.presentation.ContextEditor"
            contributorClass="org.palladiosimulator.pcm.confidentiality.context.presentation.ContextActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.confidentiality.context.system.presentation.SystemModelWizardID"
            name="%_UI_SystemModelWizard_label"
            class="org.palladiosimulator.pcm.confidentiality.context.system.presentation.SystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SystemModelFile.gif">
         <description>%_UI_SystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.pcm.confidentiality.context.system.presentation.SystemEditorID"
            name="%_UI_SystemEditor_label"
            icon="icons/full/obj16/SystemModelFile.gif"
            extensions="system"
            class="org.palladiosimulator.pcm.confidentiality.context.system.presentation.SystemEditor"
            contributorClass="org.palladiosimulator.pcm.confidentiality.context.system.presentation.SystemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.confidentiality.context.system.pcm.structure.presentation.StructureModelWizardID"
            name="%_UI_StructureModelWizard_label"
            class="org.palladiosimulator.pcm.confidentiality.context.system.pcm.structure.presentation.StructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StructureModelFile.gif">
         <description>%_UI_StructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.pcm.confidentiality.context.system.pcm.structure.presentation.StructureEditorID"
            name="%_UI_StructureEditor_label"
            icon="icons/full/obj16/StructureModelFile.gif"
            extensions="structure"
            class="org.palladiosimulator.pcm.confidentiality.context.system.pcm.structure.presentation.StructureEditor"
            contributorClass="org.palladiosimulator.pcm.confidentiality.context.system.pcm.structure.presentation.StructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.confidentiality.context.system.pcm.usage.presentation.UsageModelWizardID"
            name="%_UI_UsageModelWizard_label"
            class="org.palladiosimulator.pcm.confidentiality.context.system.pcm.usage.presentation.UsageModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UsageModelFile.gif">
         <description>%_UI_UsageModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.pcm.confidentiality.context.system.pcm.usage.presentation.UsageEditorID"
            name="%_UI_UsageEditor_label"
            icon="icons/full/obj16/UsageModelFile.gif"
            extensions="usage"
            class="org.palladiosimulator.pcm.confidentiality.context.system.pcm.usage.presentation.UsageEditor"
            contributorClass="org.palladiosimulator.pcm.confidentiality.context.system.pcm.usage.presentation.UsageActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.confidentiality.context.policy.presentation.PolicyModelWizardID"
            name="%_UI_PolicyModelWizard_label"
            class="org.palladiosimulator.pcm.confidentiality.context.policy.presentation.PolicyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PolicyModelFile.gif">
         <description>%_UI_PolicyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.pcm.confidentiality.context.policy.presentation.PolicyEditorID"
            name="%_UI_PolicyEditor_label"
            icon="icons/full/obj16/PolicyModelFile.gif"
            extensions="policy"
            class="org.palladiosimulator.pcm.confidentiality.context.policy.presentation.PolicyEditor"
            contributorClass="org.palladiosimulator.pcm.confidentiality.context.policy.presentation.PolicyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcm.confidentiality.context.systemcontext.presentation.SystemcontextModelWizardID"
            name="%_UI_SystemcontextModelWizard_label"
            class="org.palladiosimulator.pcm.confidentiality.context.systemcontext.presentation.SystemcontextModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SystemcontextModelFile.gif">
         <description>%_UI_SystemcontextModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.pcm.confidentiality.context.systemcontext.presentation.SystemcontextEditorID"
            name="%_UI_SystemcontextEditor_label"
            icon="icons/full/obj16/SystemcontextModelFile.gif"
            extensions="systemcontext"
            class="org.palladiosimulator.pcm.confidentiality.context.systemcontext.presentation.SystemcontextEditor"
            contributorClass="org.palladiosimulator.pcm.confidentiality.context.systemcontext.presentation.SystemcontextActionBarContributor">
      </editor>
   </extension>

</plugin>
